<span class="d-block pb-2">L’utilisation du site <a href="{{ url('welcome') }}">{{ website_basepath }}</a>
    implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites.
    Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site
    <a href="{{ url('welcome') }}">{{ website_basepath }}</a> sont donc invités à les consulter de manière régulière.
</span>
<span class="d-block pb-2">
    Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance
    technique peut être toutefois décidée par {{ app_name }}, qui s’efforcera alors de communiquer préalablement aux
    utilisateurs les dates et heures de l’intervention.
</span>
<span class="d-block pb-2">
    Le site <a href="{{ url('welcome') }}">{{ website_basepath }}</a> est mis à jour régulièrement par COMBRAQUE Sylvain.
    De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à
    l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
</span>
