<span class="d-block pb-2">
    Le site <a href="{{ url('welcome') }}">{{ website_basepath }}</a> a pour objet de fournir une information concernant
    l’ensemble des activités de la société.
</span>
<span class="d-block pb-2">
    {{ app_name }} s’efforce de fournir sur le site <a href="{{ url('welcome') }}">{{ website_basepath }}</a> des
    informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des
    inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui
    lui fournissent ces informations.
</span>
<span class="d-block pb-2">
    Tous les informations indiquées sur le site <a href="{{ url('welcome') }}">{{ website_basepath }}</a> sont données à
    titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site <a
        href="{{ url('welcome') }}">{{ website_basepath }}</a> ne sont pas exhaustifs. Ils sont donnés sous réserve de
    modifications ayant été apportées depuis leur mise en ligne.
</span>
